{{> navadmin }}
<div class=" bg-cuevana" style="padding: 50px 0px;">
<div class="nowork" style="background-color: rgba(69, 70, 70, 0.404);">
  
</div>

  <table class="table-citas-admin" style="background-color: rgba(69, 70, 70, 0.404); margin: auto;">
    <h1 style="text-align: center;">Citas</h1>
    <tr>
      <th>Cliente</th>
      <th>Servicio</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Acciones</th>
    </tr>
    {{#each citasTransformadas}}
      <tr>
          <td>{{nombre}}</td>
        <td>{{servicios}}</td>
        <td>{{fecha}}</td>
        <td>{{hora}}</td>
        <td class="td-btn">
          <!--<a href="" class="btn">Pendiente</a>-->
       <a href="/eliminarCita/{{_id}}" class="btn">eliminar</a>
        </td>
      </tr>
    {{/each}}
  </table>


</div>