{{> navbarlog}}

<div class=" bg-cuevana" style="flex-direction:column; padding:50px 0px;">
    <div class="div-items-around">
       <!-- <h1 class="animate__animated animate__backInLeft">Barberia</h1>
        <a href="/indexlog" class="btn-cuevana animate__animated animate__backInLeft">LA CUEVANA</a>
        <p class="txt animate__animated animate__backInLeft">consiente a tu barba con <br> un tratamiento especial</p>-->
        <h1 style="text-align: center; color:#fff;">Hola bienvenido a la cueva <br>{{this.nombre}}</h1>
          
          <a href="/index/{{this.id}}/servicios" class="btn-cuevana" style="width:150px; margin-bottom:10px; text-align:center;">Ver servicios</a>
          <style>
            .a{
              width: ;
              height: ;
            }
          </style>
           <a href="/index/{{this.id}}/cita" class="btn-cuevana " style="width:150px; text-align:center;">Agendar una cita</a>
    </div>
    <div style=""> 
  <h2 style="text-align: center; color:#fff; padding:10px">Mis citas</h2>
  <table class="table-citas-admin" style="margin: auto;">
      <tr>
      <th>Servicios</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Estatus</th>
    </tr>
    {{#each citasTransformadas}}
      <tr>
        <td>{{servicios}}</td>
        <td>{{fecha}}</td>
        <td>{{hora}}</td>
        <td>Terminado</td>
      </tr>
    {{/each}}
  </table>
</div >
</div>
